* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  min-height: 100vh;
}

.layout_1 {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.sidebar {
  flex: 0 0 200px;
  background-color: #f1f1f1;
  padding: 10px;
  border-right: 1px solid #0101014f;
}

.sidebar ul li {
  margin-bottom: 10px;
  padding: 5px 0;
}

.sidebar ul li a {
  color: #0668b8;
  text-decoration: none;
  display: block;
  padding: 5px;
  transition: background-color 0.5s, color 0.2s;
}

.sidebar ul li a:hover {
  background-color: #024b87;
  color: #fff;
}

.content {
  flex: 1;
  padding: 10px;
}

.chart {
  width: 80%;
  max-width: 500px;
  margin-top: 10px;
}

footer {
  position: fixed;
  bottom:0;
  left: 0;
  right: 0;
  background-color: #0668b8;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #0668b8;
  color: white;
}

td {
  text-align: center;
  border: 1px solid #333;
}

tr:nth-child(even) {
  background-color: #f2f2f2;

}

.scrollable-table {
  height: 530px; /* Set the desired height for the table */
  overflow-y: scroll; /* Enable vertical scrolling */
}

.buttonExport {
  background-color: #0668b8;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 45%;
}

.buttonExport:hover {
  background-color: #054f91;
}

.buttonExport:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 102, 184, 0.4);
}